@import "./../../assets/styles/variables.scss";


@mixin button {
    @include shadow-2;
    @include transition;
    text-align: center;
    height: 36rem;
    background-color: $white;
    border: 1rem solid $gray-30;
    border-radius: 6rem;
    box-sizing: border-box;
    color: $gray-90;
    padding: 6rem 12rem;
    text-decoration: none;
    cursor: pointer;

    &.outline-red {
        border: 1rem solid $red-50;
        color: $red-50;
        &:not(:disabled) {
            &:hover {
                background-color: $red-50;
                color: $white;
            }
        }
    }
    &:not(:disabled) {
        &:hover {
            background-color: $gray-30;
            transform: translate(-1rem);
            @include shadow-8;
        }
        &:active {
            box-shadow: none;
            transform: none;
        }
    }
    &.blue,
    &.red {
        border: 1rem solid transparent;
        color: $white;
    }
    &.blue {
        background-color: $blue-50;
        &:not(:disabled):hover:not(:active) {
            background-color: $blue-70;
            color: $white;
            @include shadow-hover;
        }
    }
    &.red {
        background-color: $red-50;
        &:not(:disabled):hover:not(:active) {
            background-color: $red-70;
            color: $white;
            @include shadow-hover;
        }
    }
    &:disabled {
        background-color: $gray-30;
        color: $gray-60;
        border-color: $gray-30;
        box-shadow: none;
    }
}

.button {
    @include button;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    pointer-events: auto;
    svg {
        margin-right: 4rem;
        font-size: 20rem;
        &:last-child {
            margin: 2rem -6rem;
        }
    }
    &.center {
        justify-content: center;
    }
    &.right {
        flex-direction: row-reverse;
    }
    @media print {
        display: none;
    }
}