.container {
  margin: 0 auto;
  margin-top: 42px;
  width: 1040px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.section-header {
  border-bottom: 1px solid black;
  line-height: 36px;
}

.section {
  padding: 24px;
  margin: 12px;
}

.section-flex {
  padding: 24px;
  display: flex;
  justify-content: space-around;
}

.section-icons {
  max-width: 1040px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.section-code {
  margin: 16px 0;
}